section header center h2{
		
		text-transform: uppercase;
		}
		
		.organizing_main{
		/*font-size: 110%;*/
		font-weight: bold;
		}
		
		.chair{
		font-weight: bold;
		text-transform: uppercase;
		}
		